.bannerContainer{
    width: 100%;
    height: 100vh;
    background: url(/background.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerCover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.849);
}