.loader{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-size: 14px;
    animation: fadeOut 1s forwards;
}
.loader p{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(38) forwards,
        blink 800ms steps(38) infinite normal;
    border-right: 5px solid black;
}
.loaderComment{
    display: flex;
    width: 100%;
    justify-content: center;
}
.green{
    color: var(--foreground);
}
@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 420px;
    }
}

@keyframes blink {
    from {
        border-color: rgb(255, 255, 255);
    }

    to {
        border-color: transparent;
    }
}
@keyframes ldio-x2uulkbinbj {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 50px;
      left: 50px;
      width: 92px;
      height: 92px;
      opacity: 0;
    }
  }.ldio-x2uulkbinbj div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-x2uulkbinbj 1.25s cubic-bezier(0,0.2,0.8,1) infinite;
  }.ldio-x2uulkbinbj div:nth-child(1) {
    border-color: #34c8f6;
    animation-delay: 0s;
  }
  .ldio-x2uulkbinbj div:nth-child(2) {
    border-color: #ededed;
    animation-delay: -0.625s;
  }
  .loadingio-spinner-ripple-nq4q5u6dq7r {
    width: 200px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
  }
  .ldio-x2uulkbinbj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-x2uulkbinbj div { box-sizing: content-box; }
@media (max-width:487px){

    .loader p{
        font-size: 10px;
    }
    @keyframes typewriter {
        from {
            width: 0%;
        }
        to {
            width: 280px;
        }
    }
    .loaderimage{
        width:50px;
        height: 50px;
    }
}