.loader{
    position: absolute;
    display: flex;
    width: 100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border: 2px solid var(--foreground);
    font-size: 14px;
    animation: fadeOut 1s forwards;
}
.loader p{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(50) forwards,
        blink 800ms steps(50) infinite normal;
    border-right: 5px solid black;
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 455px;
    }
}

@keyframes blink {
    from {
        border-color: rgb(255, 255, 255);
    }

    to {
        border-color: transparent;
    }
}