@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

.sans-font {
  font-family: var(--font-geist-sans);
}

.mono-font {
  font-family: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main{
  padding: 40px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
h1{
  font-size: 4rem;
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  cursor:default;
}
h2{
  font-size: 2.5rem;
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  cursor:default;
}
h3{
  font-size: 1.5rem;
  cursor:default;
}
button{
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 20px;
background: url(https://i.ibb.co/WHpxfvX/website-design-1.jpg);
background-position: left top;
  text-transform: uppercase;
  color: var(--background);
  border: none;
  border-radius: 10px;
  transition: 2s all;
  cursor: pointer;
}
button:hover, button:active{
  background-position: right bottom;
}
.linksContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.links{
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #34c8f6;
  border-radius: 15px;
  background-color: #078ab231;
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.linksImage{
  border-radius: 50%;
}
.linksName{
  font-size: 23px;
  margin-left: 10px;
  cursor: pointer;
}
p{
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  cursor:default;
}
.codesContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #343434;
  border-radius: 5px;
  font-size: 14px;
}
.codesTitle{
  background-color: #313131;
  border-bottom: 1px solid  #696969;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.margin-left{
  margin-left: auto;
}
.codes{
  padding: 10px;
}
a{
  cursor: pointer;
  text-decoration: none;
  color:#34c8f6
}
.copy{
  background-color: #34c8f6;
  padding: 5px;
  border-radius: 5px;
  color: #313131;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width:850px){
  h1{
    font-size: 3.5rem;
  }
}
@media (max-width:550px){
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 20px;
  }
  button{
    padding: 7px 15px;
    font-size: 19px;
  }
  main{
    padding: 15px;
  }
}
